<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <meta charset="UTF-8">
  <title>Datos de usuario</title>
</head>
<body style="background-color: <%= usuario.color%>;">
  <h1>Hola <%=usuario.nombre%>, elegiste el color: <%=usuario.color%>, tu email es:
    <%=usuario.email %> y tu edad es: <%=usuario.edad%></h1>
</body>
</html>